body {
  background-color: rgb(31, 30, 30);
  margin: 8rem;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  width: 30rem;
  margin: 3rem auto;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 6px;
}

label {
  margin-bottom: 0.5rem;
  display: block;
}

textarea {
  resize: none;
}

input,
textarea,
select {
  width: 100%;
  /*our inout will be 100% of the parent element which in our case is 'form'*/
  display: block;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font: inherit;
  border: 1px solid rgb(184, 184, 184);
  padding: 0.25rem;
  color: rgb(65, 65, 65);
}

input:focus,
textarea:focus {
  background-color: rgb(213, 130, 255);
  color: rgb(55, 0, 107);
  border-color: rgb(160, 59, 255);
}

button {
  display: block;
  font: inherit;
  background-color: rgb(55, 0, 107);
  color: white;
  border: 1px solid rgb(55, 0, 107);
  border-radius: 6px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

button:hover {
  background-color: rgb(175, 89, 255);
}

.form-control-inline {
  display: flex;
}

.form-control-inline input {
  width: auto;
  margin: 0.5rem;
}
